<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Blog App</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/blog.css" />
  </head>
  <body>
    <%- include('./header.ejs') %>
    <div class="container blog-area">
      <h1 class="text-center"><%= blog.name %></h1>
      <img src="<%= blog.image %>" alt="<%= blog.name %>" />
      <p><%= blog.content %></p>
    </div>
    <%- include('./footer.ejs') %>